html, body, h1, h2, h3, h4, p, div, ul, ol, li, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.layout {
  background-color: #313144;
}
.header {
    padding-top: 15px;
}
.content {
  text-align: center;
  margin: 0 10px 0 10px;
}
.content ul, .navbar ul {
  list-style-type: none;
}
.footer {
  text-align: center;
  background-color: #313144;
  color: #3890E8;
  padding: 10px 0;
  margin-right: 10px;
}
.navbar, .brand {
  padding: 0 ;
  margin: 0;
  background-color: #313144;
  color: #000000;
  font-size: 18px;
}
.brand {
  color: #3890E8;
  font-size: 45px;
  float: left;
  padding: 0 0 0 10px;
}
.navbar ul {
  float: right;
  margin: 0 10px 0 0;
}
.navbar li {
  display: inline-block;
  padding: 15px 10px;
  width: 65px;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  border-radius: 8px 8px 0 0;
}
.page {
  padding: 150px 0 150px 0;
}
.page-home {
  background-color: #5fb3f9;
}
.navbar .home {
  background-color: #5fb3f9;
}
.navbar .home.active {
  border-bottom: 1px solid #5fb3f9;
}
.page-projects {
  background-color: #60ead3;
}
.navbar .projects {
  background-color: #60ead3;
}
.navbar .projects.active {
  border-bottom: 1px solid #60ead3;
}
.page-git {
  background-color: #fda660;
}
.navbar .git {
  background-color: #fda660;
}
.navbar .git.active {
  border-bottom: 1px solid #fda660;
}
.page-resume {
  background-color: #ff4b57;
}
.navbar .resume {
  background-color: #ff4b57;
}
.navbar .resume.active {
  border-bottom: 1px solid #ff4b57;
}
.page-skills {
  background-color: #bb58b5;
}
.navbar .skills {
  background-color: #bb58b5;
}
.navbar .skills.active {
  border-bottom: 1px solid #bb58b5;
}
.page-skills li {
  display: inline-block;
  margin-left: 10px;
}
.navbar li.active {
  background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,0));
}
.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
