{
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "build": {
      "plugins": ["transform-react-constant-elements"] 
    }
  }
}

